/* common css start  */
body {
    padding: 0;
    margin: 0;
}
p {
    color: grey;
    font-size: 23px;
    line-height: 30px;
    padding-bottom: 10px;
}
/* common css end  */
/* top section start */
.top {
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    height: 600px;
}

.half {
    width: 30%;
    float: left;
    margin-left: 81px;
    padding-left: 58px;
    padding-top: 63px;
}

.half img {
    width: 100%;
}

.hello {
    font-size: 60px;
}

.name {
    font-size: 70px;
    color: rgb(243, 52, 148);
}

.hire {
    padding: 15px 25px;
    background-image: linear-gradient(45deg, rgb(218, 88, 153), rgb(243, 52, 148));
    border-radius: 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-top: 5px;
}

.right {
    float: right;
    padding-right: 58px;
    padding-right: 63px;
}

/* top section end */
/* bio section start */
.bio {
    background-image: url(../images/biography-bg.png);
    background-repeat: no-repeat;
    height: 700px;
}

.b {
    font-size: 60px;
}

.cv {
    padding: 15px 25px;
    background-image: linear-gradient(45deg, rgb(218, 88, 153), rgb(243, 52, 148));
    border-radius: 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-top: 5px;
}

/* bio section end */
/* Work section start */
.Work {
    background-image: url(../images/latest-work-bg.png);
    background-repeat: no-repeat;
    height: 600px;
}

.my {
    text-align: center;
    font-size: 60px;
}

.wor {
    width: 22%;
    float: left;
    margin-left: 81px;
    padding-left: 58px;
    padding-top: 63px;
}

.wor img {
    width: 100%;
}

/* Work section end */
/* review secion start */
.WCS {
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    height: 600px;
}

.what {
    font-size: 50px;
    text-align: center;
}

.bruce {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.founder {
    text-align: center;
    color: gray;
    margin-bottom: 55px;
}

.lorem {
    text-align: center;
    color: black;
}

.message {
    background-image: linear-gradient(60deg, #E84F93, #E74A6D);
    margin: 0 476px;
    padding: 10px 0;
    border-radius: 10px;
}

.me {
    text-align: center;
    padding-bottom: 0;
    color: #fff;
}

.email {
    text-align: center;
    color: #fff;
}

/* review secion end */
/* footer section start */
.arman {
    text-align: center;
}

/* footer section end */